.background-scroll {
  position: relative;
  height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
}
.background-scroll .syk-main-container {
  background: #21232d;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  width: 100%;
  z-index: 100;
}
.background-scroll .syk-main-container .syk-main-text {
  margin-bottom: 80px;
  width: 100%;
}
.background-scroll .syk-main-container .syk-main-text .syk-heading-top {
  color: rgba(255, 255, 255, 0.89);
  text-align: center;
  font-size: clamp(1.4rem, 3.333vw, 4rem);
  font-style: normal;
  font-weight: 400;
}
.background-scroll .syk-main-container .syk-main-text .syk-heading-bot {
  color: var(--Brand-color-Blue, #3db2ff);
  font-size: 96px;
  font-size: clamp(2rem, 5vw, 6rem);
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.background-scroll .syk-main-container .syk-main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1376px;
  width: 80%;
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side {
  max-width: 823px;
  margin-right: 19px;
  display: flex;
  flex-direction: column;
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin-left: 12px;
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy .syk-medium-text {
  display: flex;
  align-items: center;
  color: #5c5c5c;
  font-family: var(--work-sans);
  font-size: clamp(1rem, 1.667vw, 2rem);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
  cursor: pointer;
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy .syk-medium-text svg {
  margin-right: 10px;
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy .syk-textmargin {
  margin-top: 24px;
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy .syk-blue-text {
  color: var(--color-blue-600, #278acd);
}
.background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy .syk-small-text {
  color: #afafaf;
  font-family: var(--work-sans);
  font-size: clamp(0.75rem, 1.25vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.08px;
}
.background-scroll .syk-main-container .syk-main-content .syk-right-side {
  max-width: 534px;
  display: flex;
}
.background-scroll .syk-main-container .syk-main-content .syk-right-side .syk-image-container {
  height: clamp(15.5rem, 26.563vw, 30rem);
  width: clamp(20rem, 26.563vw, 31.875rem);
}
.background-scroll .syk-main-container .syk-main-content .syk-right-side .syk-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.animated-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 820px) {
  .background-scroll {
    width: 100vw;
    height: 300vh;
  }
  .background-scroll .syk-main-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 92px 16px 20px 16px;
    height: 100vh;
  }
  .background-scroll .syk-main-container .syk-main-text {
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .background-scroll .syk-main-container .syk-left-side {
    max-width: 100%;
    margin-right: 0;
  }
  .background-scroll .syk-main-container .syk-left-side .syk-main-text {
    margin-bottom: 24px;
  }
  .background-scroll .syk-main-container .syk-left-side .syk-strategy {
    max-width: 100%;
    margin-left: 0;
  }
  .background-scroll .syk-main-container .syk-left-side .syk-strategy .syk-medium-text {
    margin-bottom: 8px;
  }
  .background-scroll .syk-main-container .syk-left-side .syk-strategy .syk-textmargin {
    margin-top: 18px;
  }
  .background-scroll .syk-main-container .syk-right-side {
    max-width: 100%;
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .background-scroll .syk-main-container .syk-right-side .syk-image-container {
    width: 100%;
  }
  .background-scroll .syk-main-container .syk-right-side .syk-image-container img {
    border-radius: 20px;
  }
  .syk-textmargin {
    margin-top: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .background-scroll {
    width: 100vw;
    height: 300vh;
  }
  .background-scroll .syk-main-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    padding: 150px 16px 20px 16px;
    height: 110vh;
    width: 100vw;
  }
  .background-scroll .syk-main-container .syk-main-text {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .background-scroll .syk-main-container .syk-main-content {
    justify-content: flex-start;
    width: 100%;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-left-side {
    max-width: 100%;
    margin-right: 0;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-left-side .syk- .syk-main-text {
    margin-bottom: 24px;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy {
    max-width: 100%;
    margin-left: 0;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-left-side .syk-strategy .syk-textmargin {
    margin-top: 10px;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-right-side {
    max-width: 100%;
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-right-side .syk-image-container {
    width: 100%;
  }
  .background-scroll .syk-main-container .syk-main-content .syk-right-side .syk-image-container img {
    border-radius: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .background-scroll .syk-main-container {
    padding: 70px 16px 20px;
  }
}/*# sourceMappingURL=syk.css.map */