@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1E1E1E;
}

.eurocup-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eurocup-main-heading {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -2.16px;
  color: #FFB830;
  margin-top: 40px;
}

.eurocup-sub-heading {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #B3B3B3;
}

.eurocup-prediction-participation {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 120px;
  width: 100%;
}

.eurocup-column {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 350px;
}

.eurocup-column:nth-child(1) {
  gap: 30px;
  align-items: center;
}

.eurocup-heading1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  color: #B31D1E;
  text-align: center;
}

.eurocup-heading2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  color: #FFB830;
  text-align: center;
}

.eurocupDesc {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  color: #FFB830;
  text-align: center;
}

.quiztitle {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #F3F3F3;
}

.eurocup-unordered-list, .eurocup-enter-username {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #B3B3B3;
  margin-top: 20px;
}

.eurocup-enter-username {
  margin-top: 40px;
}

.eurocup-input-username {
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 300px;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid;
  border-color: transparent;
  border-radius: 8px;
  background: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: black;
}

::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #5A5A5A;
  opacity: 1; /* Firefox */
}

::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #5A5A5A;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #5A5A5A;
}

input:active,
input:focus {
  outline: none !important;
  border-color: #FFB830;
}

/* .ie is a class you would need to set at the html root level */
.ie input:active,
.ie input:focus {
  outline: none !important;
  border-color: #FFB830;
}

.eurocup-btn {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #F3F3F3;
  background-color: transparent;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid #FFF;
  padding: 10px 50px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.eurocup-btn:hover {
  background-color: #F3F3F3;
  color: #333333;
  transition: background-color 0.2s, color 0.2s;
}

.eurocup-prediction-rules {
  width: 70%;
  margin: 80px auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.prediction-rules-title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -1.44px;
  color: #FFB830;
  margin-bottom: 70px;
}

.prediction-rules {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.22px;
  color: #F3F3F3;
}

.prediction-rules-title1, .prediction-rules-title2 {
  font-weight: 700;
}

.prediction-rules-title2 {
  color: #FFB830;
}

.predict-rounds {
  margin: 0 auto 80px auto;
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #BF6A02;
}

.eurocup-uefa {
  margin: 40px auto 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.uefa-image {
  width: 199px;
  height: 78px;
}

.eurocup-2024 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.96px;
  color: #F3F3F3;
}

.eurocup-2024-sub-title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: normal;
  color: #F3F3F3;
}

.eurocup-prediction {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.round-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 621px;
  scroll-snap-align: start;
  position: relative;
}

.tbd-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.round-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: normal;
  color: #F3F3F3;
  position: absolute;
  left: 0;
  top: -150%;
  pointer-events: none;
}

.team-div {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  color: #F3F3F3;
  position: relative;
  min-width: 150px;
  max-width: 210px;
  width: 210px;
  height: 34px;
  padding: 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  background-color: #323232;
}

.team-separator {
  height: 1px;
  min-width: 150px;
  max-width: 210px;
  width: 210px;
  background-color: #474747;
}

.golden-line, .golden-line-reverse {
  position: absolute;
  height: 2px;
  width: 50%;
  left: 50%;
  background-color: #FFB830;
  z-index: -1;
}

.golden-line-vertical {
  position: absolute;
  height: 2px;
  width: 69px;
  left: 99.98%;
  background-color: #FFB830;
  transform-origin: left;
}

.golden-line-reverse {
  left: 0;
}

.semifinals-prediction {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0 5%;
}

.semifinals-title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  color: #F3F3F3;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

.semifinals-goals-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.semifinals-match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.match-goals, .match-penalty, .match-winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 0;
  flex-wrap: wrap;
}

.match-goals {
  max-width: 545px;
}

.match-penalty {
  max-width: 545px;
}

.match-winner {
  max-width: 200px;
}

.match-prediction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-title {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: normal;
  color: #F3F3F3;
  margin-bottom: 20px;
}

.predict-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.input-goals {
  height: 34px;
  max-width: 34px;
  display: flex;
  padding: 9px 7px 8px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  text-align: center;
}

.input-separator {
  width: 17px;
  height: 2px;
  background-color: #FFB830;
  margin: 0 5px;
}

.semi-team-div {
  width: 123px;
}

.prediction-submit-position {
  position: absolute;
  top: 90%;
  left: 94%;
  transform: translate(-100%, -100%);
}

@media only screen and (max-width: 1100px) {
  .round-container {
    flex: 0 0 33.33%;
  }
  .eurocup-prediction {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 850px) {
  .eurocup-main-heading {
    font-size: 48px;
    font-weight: 500;
  }
  .eurocup-prediction-participation {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 70px;
  }
  .round-container {
    flex: 0 0 50%;
  }
  .eurocup-participate-btn {
    margin-bottom: 50px;
  }
  .uefa-image {
    width: 173px;
    height: 78px;
  }
  .eurocup-2024 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: normal;
    color: #F3F3F3;
  }
  .eurocup-2024-sub-title {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: normal;
    color: #F3F3F3;
  }
}
@media only screen and (max-width: 850px) {
  .team-div, .team-separator {
    width: 36vw;
  }
  .semi-team-div {
    width: 31vw;
  }
  .prediction-submit-position {
    left: 50%;
    transform: translate(-50%, -100%);
  }
}
@media only screen and (max-width: 845px) {
  .match-goals, .match-penalty, .match-winner {
    margin: 20px auto;
  }
}
@media only screen and (max-width: 485px) {
  .match-prediction {
    flex-direction: column;
  }
  .predict-numbers {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 400px) {
  .team-div, .team-separator {
    width: 50vw;
  }
  .semi-team-div {
    width: 31vw;
  }
  .round-container {
    flex: 0 0 100%;
  }
}
@media only screen and (max-width: 360px) {
  .eurocup-column {
    width: 95%;
  }
}/*# sourceMappingURL=EuroCup.css.map */