@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

.atropos {
    overflow: hidden !important;
}

.atropos-shadow {
    rotate: 90deg;
    transition: rotate 0.5s !important;
    display: none !important;
}

.atropos-highlight {
    animation: rotate-light 2s infinite forwards;
    animation-delay: -1s;
    // overflow: hidden !important;
}

@keyframes rotate-light {
    0%, 100% {
        transform: rotateZ(0deg) !important;
    }
}

.adrs-hexagon {
    overflow: hidden !important;
}

.atropos-inner {
    background-color: #21232D;
    overflow: visible !important;
    display: flex !important;
    transform: rotateZ(90deg) !important;
    transition: transform 0.5s;
}

* {
    box-sizing: border-box !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.adrs-our-services {
    position: relative;
    background-color: #1E1E1E;
    width: 100%;
    // max-width: 1920px;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex-wrap: wrap;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0;
}

.adrs-services-title {
    position: absolute;
    top: 10vw;
    left: 10%;
    color: #F9FAFA;
    font-family: "Work Sans";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 90%;
    letter-spacing: -0.01em;
}

.adrs-hexagon {
    position: relative;
    display: flex;
    right: 4vw;
    width: 30vw;
    overflow-x: visible !important;
    overflow-y: visible !important;
    // cursor: pointer;
    transform: rotate(0deg) !important; //perspective(10000px) translateZ(20px);
    transform-origin: center;
    // background-color: #21232D;
    background-color: transparent;
    transition: transform 0.5s;
    // transform-style: preserve-3d;
    // perspective: 1000px;
}

.adrs-hexagon:hover > .atropos-scale > .atropos-rotate > .atropos-inner{
    transform: rotate(0deg) !important;
    transition: transform 0.5s;
}

.adrs-inner-rectangle,
.adrs-inner-rectangle1,
.adrs-inner-rectangle2,
.adrs-inner-rectangle-gradient,
.adrs-inner-rectangle1-gradient,
.adrs-inner-rectangle2-gradient,
.adrs-highlight-container {
    position: absolute;
    // background: #bdc3c7;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #202122, #292b2d);  /* Chrome 10-25, Safari 5.1-6 */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100% !important;
    width: 100%;
    border-radius: 0;
    transition: transform 0.5s;
    transform-origin: center;
    overflow: hidden !important;
    background: #21232D;
}

.adrs-inner-rectangle1 {
    transform: rotateZ(60deg) !important;
    z-index: 1;
}

.adrs-inner-rectangle2 {
    transform: rotateZ(-60deg) !important;
}

.adrs-inner-rectangle-gradient {
    background: linear-gradient(-45deg, #21232D, #424248);
    opacity: 0 !important;
    transition: opacity 0.5s;
}

.adrs-inner-rectangle1-gradient {
    background: linear-gradient(360deg, #2c2d31, #1c1c21) !important;
    opacity: 0 !important;
    transition: opacity 0.5s;
}
.adrs-inner-rectangle2-gradient {
    background: linear-gradient(-180deg, #2c2d31, #1c1c21) !important;
    opacity: 0 !important;
    transition: opacity 0.5s;
}

.adrs-highlight-container {
    transform: rotateZ(-60deg) !important;
    transform-origin: center !important;
    background-color: #21232D;
}

.adrs-hexagon-content {
    position: absolute;
    flex-direction: column;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: transparent;
    transform-origin: center;
    transform: rotate(-90deg) translateZ(70px) !important;
    rotate: 0deg !important;
    transition: transform 0.5s, rotate 0.5s !important;
    overflow: visible !important;
}

.adrs-hexagon:hover > .atropos-scale > .atropos-rotate > .atropos-inner > .adrs-hexagon-content {
    rotate: 90deg !important;
    transition: rotate 0.5s !important;
}

.adrs-hexagon:hover > .atropos-scale > .atropos-rotate > .atropos-shadow {
    rotate: 0deg !important;
    transition: rotate 0.5s !important;
}

.adrs-hexagon:hover > .atropos-scale > .atropos-rotate > .atropos-inner > .adrs-inner-rectangle > .adrs-inner-rectangle-gradient,
.adrs-hexagon:hover > .atropos-scale > .atropos-rotate > .atropos-inner > .adrs-inner-rectangle1 > .adrs-inner-rectangle1-gradient,
.adrs-hexagon:hover > .atropos-scale > .atropos-rotate > .atropos-inner > .adrs-inner-rectangle2 > .adrs-inner-rectangle2-gradient {
    opacity: 1 !important;
    transform: opacity 0.5s;
}

.adrs-hexagon-image {
    width: 30%;
    margin-bottom: 20px;
}

.adrs-hexagon-title {
    color: var(--Gray-0, #FFF);
    text-align: center;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.adrs-hexagon-paragraph {
    color: #D1D1D1;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.256px;
}

@media only screen and (max-width:1300px) {
    .adrs-our-services {
        justify-content: flex-start;
    }

    .adrs-hexagon {
        left: 10vw;
        width: 40vw;
    }
}

@media only screen and (max-width:920px) {
    .adrs-hexagon {
        pointer-events: none !important;
    }

    .adrs-services-title {
        left: 50%;
        transform: translateX(-50%);
        font-size: 10vw;
        text-align: center;
    }

    .adrs-our-services {
        justify-content: flex-start;
    }

    .adrs-hexagon {
        left: 10vw;
        width: 80vw;
    }
}

@media only screen and (max-width:450px) {
    .adrs-hexagon-title {
        font-size: 14px;
    }
    
    .adrs-hexagon-paragraph {
        font-size: 10px;
    }
}