@import url("https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap");
* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.adrs-our-works {
  background-color: #21232D;
}

.adrs-our-works-sticky {
  overflow: hidden;
  display: flex;
  position: sticky;
  top: 0;
}

.adrs-works-box-container {
  display: flex;
}

.adrs-works-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 100vh;
  padding: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.adrs-works-title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
}

.adrs-works-description {
  font-size: 20px;
  color: #afafaf;
}

.adrs-works-box {
  min-width: 600px;
  min-height: 100vh;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  overflow: hidden;
}

.adrs-works-coming-soon {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  min-height: 100vh;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  text-align: center;
  display: flex;
}

.adrs-works-coming-soon a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

.adrs-works-coming-soon a i {
  color: #FFB830;
}

.adrs-works-background-image {
  position: absolute;
  top: 0;
  width: 200vw;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adrs-works-box-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
}

.adrs-works-foreground-image-container {
  position: absolute;
  top: 50%;
  height: 250px;
  padding: 0 !important;
  margin: 0;
  width: 70%;
  border-radius: 12px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.adrs-works-foreground-image-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.adrs-works-foreground-image {
  display: block !important;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.adrs-works-number {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  position: absolute;
  top: 50px;
  left: 50px;
}

.adrs-works-underline {
  width: 15px;
  height: 5px;
  position: absolute;
  top: 90px;
  left: 77px;
  background-color: #FFB830;
}

@media only screen and (max-width: 600px) {
  .adrs-works-title-box, .adrs-works-box, .adrs-works-coming-soon {
    min-width: 100vw;
  }
  .adrs-works-box-overlay {
    display: none;
  }
  .adrs-works-background-image {
    filter: brightness(0.8);
  }
}
@media only screen and (min-width: 1536px) {
  .adrs-works-title-box, .adrs-works-coming-soon {
    min-width: 35vw;
  }
  .adrs-works-box {
    min-width: 40vw;
  }
}/*# sourceMappingURL=OurWorks.css.map */