.rock-hero-main-container {
  max-width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 120px;
  padding-top: 80px;
}

.rock-main {
  height: 100vh;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.rock-main .hero-orange {
  position: absolute;
  top: -100px;
  right: -150px;
  width: 711px;
  height: 711px;
  transform: rotate(-29.143deg);
  flex-shrink: 0;
  border-radius: 711px;
  background: #ffb830;
  filter: blur(340px);
}
.rock-main .hero-blue {
  position: absolute;
  left: -200px;
  top: 345px;
  width: 711px;
  height: 711px;
  transform: rotate(-29.143deg);
  flex-shrink: 0;
  border-radius: 711px;
  background: #3077ff;
  background: radial-gradient(76.97% 76.97% at 50% 50%, #3077ff 52.5%, rgba(153, 153, 153, 0) 75.5%);
  filter: blur(340px);
}
.rock-main .rock-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 30;
}
.rock-main .rock-body .rock-tagline {
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  color: #ffb830;
  margin-block-end: 30px;
  text-align: center;
}
.rock-main .rock-body .rock-mainTagline {
  max-width: 1125px;
  text-align: center;
  font-family: "Work Sans";
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.rock-main .rock-body .rock-hero-btn {
  margin-block-start: 74px;
  display: flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  position: relative;
  border: none;
  outline: none;
  overflow: hidden;
}
.rock-main .rock-body .rock-hero-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background: var(--light-black);
  border-radius: 40px;
}
.rock-main .rock-body .rock-hero-btn:before {
  content: "";
  position: absolute;
  z-index: -2;
  width: 300%;
  height: 300%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 100%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(to bottom right, #ffb380 50%, #3077ff 40%);
}
.rock-main .rock-body .rock-hero-btn:hover:before {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.rock-main .rock-mask {
  mask-image: url(../assets/mask.svg);
  mask-repeat: no-repeat;
  mask-size: 40px;
  -webkit-mask-image: url(../assets/mask.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 40px;
  background: var(--yellow);
  position: absolute;
  color: black;
}

@media only screen and (max-width: 1440px) {
  .rock-main .rock-mask,
  .rock-main .rock-body {
    font-size: 80px;
  }
}
@media only screen and (max-width: 1366px) {
  .rock-main .rock-mask,
  .rock-main .rock-body {
    font-size: 60px;
    padding-left: 0px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 950px) {
  .rock-main {
    height: 70vh;
  }
  .rock-main .rock-mask,
  .rock-main .rock-body {
    line-height: 50px;
    margin-top: 100px;
  }
  .rock-main .rock-mask .rock-tagline,
  .rock-main .rock-body .rock-tagline {
    font-size: 40px;
  }
  .rock-main .rock-mask .rock-mainTagline,
  .rock-main .rock-body .rock-mainTagline {
    font-size: 44px;
  }
}
@media only screen and (max-width: 650px) {
  .rock-main {
    height: 45vh;
  }
  .rock-main .hero-orange,
  .rock-main .hero-blue {
    display: none;
  }
  .rock-main .rock-body {
    margin-top: 100px;
    text-align: center;
  }
  .rock-main .rock-body .rock-tagline {
    margin-top: 0px;
    text-wrap: balance;
    font-size: 32px;
    line-height: 1.2;
  }
  .rock-main .rock-body .rock-mainTagline {
    width: 300px;
    font-size: 28px;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 380px) {
  .rock-main {
    height: 50vh;
    margin-bottom: 200px;
  }
  .rock-main .rock-mask,
  .rock-main .rock-body {
    margin-top: 120px;
  }
  .rock-main .rock-mask .rock-body-heading,
  .rock-main .rock-body .rock-body-heading {
    text-wrap: balance;
    font-size: 11vw;
    line-height: 110%;
    padding: 40px;
  }
  .rock-main .rock-mask .rock-tagLine,
  .rock-main .rock-body .rock-tagLine {
    width: 300px;
    font-size: 6vw;
    line-height: 1.3;
  }
}/*# sourceMappingURL=hero.css.map */